{% extends 'base.html' %}
{%load static%}


{% block app_css %}
    <link rel="stylesheet" href="{% static 'customer/css/style.css' %}">
{% endblock app_css %}
    
{% block title %}
    <title>{{page_title}}</title>
{% endblock title %}


{% block navbar-text %}
<span id="clock">
    {{ myDate }}
</span>
{% endblock navbar-text %}

{% block alt %}
    <span class="monitor">
        {{page_title}}
    </span>
{% endblock alt %}
    

{% block row %}
<!-- Bootstrap table class 
<table class="table">  
    <thead>  
        <tr>  
            <th scope="col">No </td>  
            <th scope="col">Layanan</td>  
            <th scope="col">No. Antrian</td>  
            <th scope="col">Ke Ruangan</td>  
        </tr>  
    </thead>  
      
    <tbody>  
        <tr>  
            <th scope="row">1</td>  
            <td>BPJS</td>  

            {% for b in bpjs %}
            <td> <span id="qBpjs"> <b>{{b.jenis_layanan}}-{{b.no_antrian}}</b></span> </td>
            {% endfor %}  
            <td>A</td>  
        </tr>  
        <tr>  
            <th scope="row">2</td>  
            <td>Poliklinik Gigi</td>  
            
            {% for b in gigi %}
            <td> <span id="qGigi"> <b>{{b.jenis_layanan}}-{{b.no_antrian}}</b></span></td>
            {% endfor %}
            
            <td>B</td>  
            
        </tr>  
        <tr>  
            <th scope="row">3</td>  
            <td>Jantung</td>
            {% for b in jantung %}
            <td> <span id="qJantung"><b>{{b.jenis_layanan}}-{{b.no_antrian}}</b></span></td>
            {% endfor %}  
           
            <td>C</td>  
        </tr>  
    </tbody>  
</table>  
-->
<div class="row">
    <div class="box-display">
        <div class="heading">
            <span>Pendaftaran BPJS</span>
        </div>
        
        <div class="label">
            <span class="antri">No Antrian</span>
            <span class="room">Ke Ruangan</span>
        </div>
        <div class="queue">
            {% for b in bpjs %}
            <span id=test>{{b.jenis_layanan}}-{{b.no_antrian}}</span>
            {% endfor %}   
            <span class="room-in">A</span>
        </div>
    </div>

    <div class="box-display">
        <div class="heading">
            <span>Pendaftaran Poli Gigi</span>
        </div>
        
        <div class="label">
            <span class="antri">No Antrian</span>
            <span class="room">Ke Ruangan</span>
        </div>
        <div class="queue">
            {% for b in gigi %}
            <span id=test2>{{b.jenis_layanan}}-{{b.no_antrian}}</span>
            {% endfor %}   
            <span class="room-in">B</span>
        </div>
    </div>

    <div class="box-display">
        <div class="heading">
            <span>Pendaftaran Rawat Inap</span>
        </div>
        
        <div class="label">
            <span class="antri">No Antrian</span>
            <span class="room">Ke Ruangan</span>
        </div>
        <div class="queue">
            {% for b in jantung %}
            <span id=test3>{{b.jenis_layanan}}-{{b.no_antrian}}</span>
            {% endfor %}   
            <span class="room-in">C</span>
        </div>
    </div>
</div> 
{% endblock row%}
         

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
    $(document).ready(function(){
        setInterval(function(){
            $("#clock").load(window.location.href + " #clock" );
        }, 1000);
        setInterval(function(){
            $("#test").load(window.location.href + " #test" );
        }, 100);
        setInterval(function(){
            $("#test2").load(window.location.href + " #test2" );
        }, 100);
        setInterval(function(){
            $("#test3").load(window.location.href + " #test3" );
        }, 100);
    });
   
</script>
{% endblock javascripts %}
    