.row {
  margin-top: 10%;
}
.card {
  margin-right: 8%;
}
.nav-content {
  margin-top: 2%;
  background-color: #5fa9cf !important;
}
.ct {
  margin-right: auto;
  color: azure;
  margin-left: 10px;
}
