.navbar {
  background-color: #e7f2e8;
}

.navbar-text {
  color: #024a15;
  font-weight: bold;
  font-size: 24px;
  margin-right: 2%;
}

.box {
  background-color: #59c2b0;
  width: 500px;
  height: 90px;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 1%;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.box .code_layanan {
  display: block;
  color: white;
  font-weight: bold;
  font-size: 50px;
  margin-top: -7%;
  margin-left: 32%;
}
.box .label_antrian {
  color: white;
  font-weight: bold;
  margin-left: 23%;
}

.box .layanan {
  display: block;
  margin-top: -13%;
  float: left;
  margin-left: 25%;
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.inside {
  background-color: #59c2b0;
  width: 20%;
  height: 100%;
  border-right: 1px solid white;
}
.welcome {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-top: 3%;
  display: block;
  margin-left: 1%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e7f2e8;
  color: black;
  text-align: center;
  margin-left: 1px;
  font-size: 10px;
  font-weight: bold;
}
