{% extends 'base.html' %}
{%load static%}



{% block title %}
    <title>{{page_title}}</title>
{% endblock title %}
    

{% block app_css %}
<link rel="stylesheet" href="{% static 'control/css/tes.css' %}">
{% endblock app_css %}
    

{% block row %}
    
{% for content in layanan %}
<nav class="navbar navbar-light nav-content">
    <img src="{%static content.foto%}" width="30" height="30" alt="">
    <span class="ct"> Control Antrian untuk Layanan <b>{{content.nama_layanan}}</b></span>
    <a href="{%url 'control:detail' content.code_layanan%}" class="btn btn-light">Control Layanan Ini</a>
</nav>
{% endfor %}
{% endblock row %}
    