{%load static%}
<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark" id="myNav">
    <a class="navbar-brand" href="#">
        <img style="height: 30px;" src="{% static 'img/logo.png'%}" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
       
      </ul>
    </div>
  </nav>