{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block title %}
    <title>RS Harkit</title>
    {% endblock title %}
        

    {% block app_css %}
    
    {% endblock app_css %}
        
        
    {%include "snippets/styles.html"%}
</head>
<body>
    
    <nav class="navbar">
        <a class="navbar-brand" href="#">
        <img src="{%static 'img/logo_harkit.png'%}" width="230" height="60" alt="">
        </a>
      
        <span class="navbar-text">
            {% block alt %}
            {% endblock alt %}  
        </span>
        <span class="navbar-text">
        {% block navbar-text %}
            Ambil Nomor
        {% endblock navbar-text %}
        </span>
      </nav>
    
    
    <div class="container">
      
        
        {% block row %}
            
        {% endblock row %}
            

    </div>
    <div class="footer">
        <p>© 2021, RSAB Harapan Kita, All rights reserved.</p>
      </div>
    {%include "snippets/scripts.html"%}
    
    {% block javascripts %}
    
    {% endblock javascripts %}
</body>
</html>