{% extends 'base.html' %}
{%load static%}


{% block app_css %}
<link rel="stylesheet" href="{% static 'css/front.css'%}">
{% endblock app_css %}
  

{% block row %}

<div class="row">
  {% for content in layanan %}
    <div class="col-sm">
        <div class="card">
          <div class="" product-id={{content.id}} product-color="#D18B49">
            <div class="thumbnail">
              <a id="pick_layanan" href="{%url 'layanan:queue' content.code_layanan%}">
                <img alt="#" src="{%static content.foto%}">
              </a>
            </div>
            <h1 class="title">{{content.nama_layanan}}</h1>
            <p class="description">{{content.deskripsi}}</p>
          </div>
      </div>
    </div>
  {% endfor %}
</div>
  


{% endblock row %}
